body{
    background-color: rgb(251, 250, 250);;
    margin: 0; 
    width: 100%;
    font-family: "Arial", sans-serif;
}
.container{
    margin: auto;
    width: 100%;
    height: 620px;
    display: grid;
    grid-template-areas: 
                      "header header"
                      "aside main"
                      "footer footer";
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 90px 1fr 90px;
}
header{
    background-color: aqua;
    grid-area: header;
     margin-top: 20px;
}
main{
    background-color: blueviolet;
    grid-area: main;
}
aside{
    background-color: rgb(251, 250, 250);;
    grid-area: aside;
}
footer{
    background-color: red;
    grid-area: footer;
    text-align: center;
}
header{
    background-color: rgb(251, 250, 250);
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: black;
    padding: 10px;
}
.butNav{
 /* float: right;
  margin-right: 20px; */
  background-color: rgb(39, 234, 39) ;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
nav ul li:last-child {
    margin-right: 10px;
}
nav ul li button a{
    font-size: 15px;
    color: black; 
}
a:hover{
    background-color:  orangered;
    color: black;
    outline: none;
    border: none;
    border-radius: 15px;
}
img.img{
    float: left;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    
}
h2{
    color: black;
    font-size: 17px;
    font-weight: bolder;
   /* text-shadow: 2px 2px 10px rgb(67, 67, 67);*/
}
h2 strong{
   color:  rgb(39, 234, 39); 
}
.containerAside{
    background-color: rgb(251, 250, 250);;
}
h1{
    color:  rgb(39, 234, 39);
    text-shadow: 2px 2px 5px green;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    overflow: visible;
    margin-left: 23%;
    letter-spacing: 0.8px;
   /* margin-top: 23%; */
}
p{   
    color:  black;
    font-size: 17px;
    text-align: left;
    overflow: none;
    margin-left: 5%;
    text-overflow: clip;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.items2{
    box-shadow: -20px -10px 30px rgb(25, 255, 25);
    width: 65%;
    height: 80%;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 23%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}
.items3{
    margin-left: 23%;
    margin-top: 0;
}
aside button { 
    background-color: rgb(39, 234, 39);
    padding: 14px 20px;
    width: 40%;
    margin-top: 25px;
    border: none;
    outline: none;
    border-radius: 19px;  
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}
aside button a{
    text-decoration: none; 
    color: white;
}
aside button:hover{
    background-color:  orangered;
    color: black;
    cursor: pointer;
}
footer{
    margin-top: 10px;
    background-color: black;
}
main{
    background-color: rgb(251, 250, 250);;
}
.imgMain{
    position: relative;
    top: 10%;
    right: 8%;
    width: 85%;
    height: 90%;
    visibility: visible;
    opacity: 1;
    box-shadow: 10px 5px 5px rgb(251, 250, 250);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}
@keyframes SsadaAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img.imgMain{
    animation: SsadaAnimation 6s;
}
.img, .imgMain{
    cursor: pointer;
}
footer p{
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
   /* text-shadow: 2px 2px 55px white; */
}
.msgBienvenue{
    color: blueviolet;
    font-size: 16px;
    font-weight: bold;
    margin-left: 23%;
    font-style: italic;
}